<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Products</title>
  </head>
  <body>
    <form action="/products/<%= product._id %>?_method=PUT " method="POST">
      <h3>Name of product</h3>
      <input name="name" type="text" value=<%= product.name %>  />
      <h3>Price</h3>
      <input name="price" type="number" value=<%= product.price %>  />
      <h3>Categories</h3>
      <select name="categories">
        <option value="food">Food</option>
        <option value="drink">Drink</option>
        <option value="candy">Candy</option>
      </select>
      <button style="display: block; margin: 1rem 0">Submit</button>
    </form>
  </body>
</html>