/* Element Selector */
body{
    background-color: #2e294e;
}

h1{
    color: #d7263d;
}

h2{
    color: #f46036;
}

button{
    background-color: #c5d86d;
}

span{
   background-color: #1b998b;
   color: #2e294e;
}

a{
    color: #FFF;
}

/* Class Selector */
.sec{
    text-transform: capitalize;
}

/* ID Selector */
#btn{
    color: #FFF;
}

/* Descendent Selector */
footer a{
    color: #f46036;
}

/* Adjacent Selector */
/* element1 + element2, it will select the element next to the first element */
h2 + button{
    background-color: olive;
}

/* Direct Child Selector */
/* It will select the child of the first element */
section > span{
    color: black;
}

/* Attribute Selector */
a[href*="google"]{
    color: tomato;
}

/* Pseudo-Classes */

/* When the cursor hovering */
button:hover{
    background-color:pink;
}

/* When the cursor click the class */
button:active{
    color: cornflowerblue;
}

/* Giving the css more spesific */
/* 2n means even */
section:nth-of-type(2n){ 
    background-color:rgb(60, 130, 187);
}

/* Pseudo Elements */
section::first-letter{
    color: antiquewhite;
    font-size: 20px;
}

main > p{
    color: #f46036;
}

p::first-line{
    background-color: red;
}

p::selection{
    background-color:white;
}