/* Element Selector */
body{
    background-color: #2e294e;
}

h1{
    color: #d7263d;
}

h2{
    color: #f46036;
}

button{
    background-color: #c5d86d;
}

span{
   background-color: #1b998b;
   color: #2e294e;
}

a{
    color: #FFF;
}

/* Class Selector */
.sec{
    text-transform: capitalize;
}

/* ID Selector */
#btn{
    color: #FFF;
}

/* Descendent Selector */
footer a{
    color: #f46036;
}

/* Adjacent Selector */
/* element1 + element2, it will select the element next to the first element */
h2 + button{
    background-color: olive;
}

/* Direct Child Selector */
/* It will select the child of the first element */
section > span{
    color: black;
}