/* Element Selector */
body{
    background-color: #2e294e;
}

h1{
    color: #d7263d;
}

h2{
    color: #f46036;
}

button{
    background-color: #c5d86d;
}

span{
   background-color: #1b998b;
   color: #2e294e;
}

a{
    color: #FFF;
}

/* Class Selector */
.sec{
    text-transform: capitalize;
}

/* ID Selector */
#btn{
    color: #FFF;
}

/* Descendent Selector */
footer a{
    color: #f46036;
}