<% layout('./layouts/boilerplate') %>
<h1>ALL CAMPGROUNDS</h1>
<% for(let campground of campgrounds){ %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img src="<%= campground.image %> " class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= campground.title %></h5>
          <p class="card-text"><%= campground.description %></p>
          <a href="/campgrounds/<%= campground._id %> " class="btn btn-primary"
            >Details</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<% } %>
