<% layout('./layouts/boilerplate') %>
<h2>Create new Camp</h2>
<form action="/campgrounds" method="POST" class="val-form">
  <div>
    <label for="title" class="form-label">Title</label>
    <input type="text" class="form-control" name="campground[title]" required/>
  </div>
  <div style="margin-top: 1rem">
    <label for="location" class="form-label">Location</label>
    <input type="text" class="form-control" name="campground[location]" required/>
  </div>
    <div style="margin-top: 1rem">
    <label for="image" class="form-label">Image URL</label>
    <input type="text" name="campground[image]" class="form-control" required/>
  </div>
    <div style="margin-top: 1rem">
    <label for="price" class="form-label">Price</label>
    <input type="text" name="campground[price]" class="form-control" required/>
  </div>
    </div>
    <div style="margin-top: 1rem">
    <label for="location" class="form-label">Description</label>
    <input type="text" name="campground[description]" class="form-control" required/>
  </div>
  <button class="btn btn-primary mt-3">Submit</button>
</form>