<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2><%= campgrounds.location %></h2>
    <h3><%= campgrounds.title %></h3>
    <a href="/campgrounds/<%= campgrounds._id %>/edit ">Edit</a>
    <form
      action="/campgrounds/<%= campgrounds._id %>?_method=DELETE"
      method="POST"
    >
      <button>Delete</button>
    </form>
  </body>
</html>
